arff==0.9
gevent==22.10.2
jsonpath_ng==1.5.3
keras==2.12.0
matplotlib==3.7.1
mlxtend==0.22.0
numpy==1.23.5
pandas==2.0.0
patool==1.12
Pillow==9.5.0
psutil==5.9.4
scikit_learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
summarytools==0.2.3
tensorflow==2.12.0
torch==2.0.1

aniso8601==8.0.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.3
pytz==2020.1
SQLAlchemy==1.3.18
six==1.16.0
click==8.1.3
dnspython==2.2.1
eventlet==0.33.1
Flask-Cors==3.0.10
greenlet==2.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
Flask==2.0.3
Werkzeug==2.0.3